/* Estilo general para el cuerpo del sitio */
body {
    font-family: Arial, sans-serif;
    background-color: grey
}

/* Estilo de la barra de navegación */
nav {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

/* Estilo del contenido principal */
main {
    margin-top: 50px;
}

h2 {
    background-color: #757373
}

p {
    background-color: rgb(199, 198, 198)
}