body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  /* background: #290661; */
  overflow: hidden;
  user-select: none;
}

.navbar {
  background: #140330;
  padding: 0 !important;
  user-select: none;
}

.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
  user-select: none;
}

.navbar-brand-img {
  border: 0;
  border-radius: 100%;
  user-select: none;
}

.navbar-brand-img:hover {
  animation: scaler 0.5s alternate-reverse infinite;
}

.nav-link {
  border-radius: 100%;
  margin-right: 1em !important;
  user-select: none;
  background: #5bf210;
  border: 3px solid #ffee00;
  width: 70px;
  height: 70px;
  align-content: center;
}

.nav-link:hover {
  color: #000;
  border-radius: 100%;
  user-select: none;
  animation: scaler 0.5s alternate-reverse infinite;
  background: #10f2c1;
}

.navbar-collapse {
  justify-content: flex-end;
  user-select: none;
}

.header {
  position: relative;
  user-select: none;
}

.active {
  background: #f210c1;
}

.bg {
  height: 100%;
  width: 100%;
  background-image: url("/gloobix/bg.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -1;
  filter: saturate(3) blur(8px) brightness(1.4);
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
}

.description {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
  background-color: white;
  border-radius: 25px;
  padding: 2vw;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  border: 5px dashed #00ff37;
}

.description:hover {
  transform: translate(-50%, -55%) scale(1.1);
}

.description h1 {
  color: #5bf210;
  user-select: none;
}

.description p {
  color: #000;
  font-size: 1.3rem;
  line-height: 1.5;
  user-select: none;
}

a,
a.navbar {
  user-select: none;
}

.description a {
  border-radius: 50px;
  border: 2px solid;
  background: #5bf210;
  color: #ff00d4;
  margin: 5px;
  text-decoration: none;
  width: 90px;
  height: 90px;
}

.description a:hover {
  border: 2px solid #000;
  background: #14e9de;
  color: #c8ff00;
  text-decoration: none;
  animation: scaler 0.5s alternate-reverse infinite;
}

@keyframes scaler {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1.2);
  }
}

@media (max-width: 550px),
(max-height: 450px) {
  .description {
    width: 100%;
    margin-top: 50px;
  }
}

@media (max-height: 180px) {
  .description {
    height: 80%;
  }
}